# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
*.env
venv/
.venv/
ENV/
env.bak/
env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

**/migrations/*.pyc
**/migrations/__pycache__/
